<%- include("includes/header.ejs") %>
    <div class="block add-task">

        <h2>Gerenciador de Tarefas</h2>
        <form action="" method="post" class="task-form">
            <input id="description" name="description" type="text" placeholder="Enviar o relatório..."/>
            <button type="submit">Adicionar</button>
        </form>
    </div>
    <div class="tasks">
        <% if (allTasks.length > 0) { %>
                <% allTasks.forEach((task)=> {%>
                    <div class="block task">
                        <p><%= task.description %></p>
                        <div class="options">
                            <a href="/task/<%= task.id %>">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button>
                                <i class="fa-solid fa-circle-check"></i>
                            </button>
                        </div>
                    </div>
                <% }) %>
        <% } else { %>
            <h3 class="warning">Nenhuma tarefa para ser feita!</h3>
        <% } %>
    </div>
<%- include("includes/footer.ejs") %>